.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: rgba(89, 97, 106, 0.24) image("../images/1013.jpg");
  height: 150px;
  padding: 20px;
  color: #000000;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.google-map {
  width: 100%;
  height: 1000px;
}

.ClosedLeftBar {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 5%;
    height: 96%;
    float: left;
}

.OpenedLeftBar {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  width: 25%;
  height: 96%;
  float: left;
}

.CloseLeftBarButton {
  float: right;
}

.OpenLeftBarButton {
    float: right;
}

.TransportBar {
  display: block;
  margin: 20% 2.5% 10%;
}

.PinBar{
  margin-top: 20%;
  margin-bottom: 20%;
}

.SearchTransportButton {
  margin-top: 5%;
  margin-bottom:5%;
  margin-right: 2.5%;
  float: right;
}

.deleteNewAttrNote {
  float: right;

}

.ComplexAttributes {
  margin: 3%;
}

.AttrTable {
  margin-top: 4%;
  margin-bottom:4%;
}

.ComplexAttrButtons {
  margin-top: 2%;
  float: right;
  margin-bottom: 2%;
  margin-left: 2%;
}

.NewComplexAttrButton {
  margin-left: 0px;
  float: left;
}

.simpleAttrButton {
  margin-right: 2%;
  margin-left: 2%;
}

.complexAttributeModalBody {
  text-align: center;
  margin-top: 2%;
}

.operatorButtonList {
  text-align: center;
  display: inline-block;
  margin-top: 2%;
  margin-left: 2%;
}

.simpleAttrButtonList {
  text-align: center;
  display: inline-block;
  margin-top: 2%;
  margin-left: 2%;
}
