.GroupsContent {
    display: flex;
    flex-direction: column;
}
.ColorButtons {
    alignment: center;
    display: flex;
    flex-direction: column;
}
.HideContent {
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.redButton{
    background-Color: #ff4c4c;
}
.pinkButton{
    background-Color: #ff00ce;
}
.yellowButton{
    background-Color: #ffe700;
}
.greenButton{
    background-Color: #09d617;
}
.blueButton{
    background-Color: #0752f2;
}
